@page "/identity/role-permissions/{Id}"
@using MinhasNoticias.Application.Responses.Identity
@inject Microsoft.Extensions.Localization.IStringLocalizer<RolePermissions> _localizer
@attribute [Authorize(Policy = Permissions.RoleClaims.View)]

<AppTitle Title="@_localizer["Gerenciar permissão"]" Description="@Description" />
@if (!_loaded)
{
    <Spinner />
}
else
{
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
        @if (_canEditRolePermissions)
                                {
                                <div class="justify-center mud-text-align-center mb-3">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="SaveAsync" ButtonType="ButtonType.Submit" Size="Size.Small">@_localizer["Atualizar permissões de função"]</MudButton>
                                </div>
                                }
    </MudHidden>
    <MudTabs Elevation="25" Rounded="true" Centered="true" ApplyEffectsToContainer="true" AlwaysShowScrollButtons="true">
        @foreach (var group in GroupedRoleClaims.Keys)
        {
            var selectedRoleClaimsInGroup = GroupedRoleClaims[group].Where(c => c.Selected).ToList();
            var allRoleClaimsInGroup = GroupedRoleClaims[group].ToList();

            <MudTabPanel Text="@group" BadgeData="@($"{selectedRoleClaimsInGroup.Count}/{allRoleClaimsInGroup.Count}")" Style="padding-right: 43px;" BadgeColor="@GetGroupBadgeColor(selectedRoleClaimsInGroup.Count, allRoleClaimsInGroup.Count)">
                <MudTable Hover="true" Elevation="25" Items="@allRoleClaimsInGroup" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" Filter="new Func<RoleClaimResponse, bool>(Search)" @bind-roleClaims="_roleClaims" CommitEditTooltip="@_localizer["Aplicar"]" @bind-SelectedItem="_selectedItem">
                    <ToolBarContent>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                                @if (_canEditRolePermissions)
                                {
                                <div class="justify-center mud-text-align-center">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="SaveAsync" ButtonType="ButtonType.Submit">@_localizer["Atualizar permissões de função"]</MudButton>
                                </div>
                                }
                        </MudHidden>
                            
                        <MudSpacer />
                        @if (_canSearchRolePermissions)
                                {
                            <MudTextField @bind-Value="_searchString" Immediate="true" FullWidth=false Placeholder="@_localizer["Pesquisar permissões"]" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
                                }
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<RoleClaimResponse, object>(x => x.Type)">@_localizer["Tipo"]</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<RoleClaimResponse, object>(x => x.Value)">@_localizer["Nome da permissão"]</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<RoleClaimResponse, object>(x => x.Description)">@_localizer["Descrição"]</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<RoleClaimResponse, object>(x => x.Selected)">@_localizer["Status"]</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="@_localizer["Tipo"]">@context.Type</MudTd>
                        <MudTd DataLabel="@_localizer["Nome da permissão"]">
                            <MudHighlighter Text="@context.Value" HighlightedText="@_searchString" />
                        </MudTd>
                        <MudTd DataLabel="@_localizer["Descrição"]">
                            <MudHighlighter Text="@context.Description" HighlightedText="@_searchString" />
                        </MudTd>
                        <MudTd DataLabel="@_localizer["Status"]"><MudCheckBox @bind-Checked="@context.Selected" Disabled="@(!_canEditRolePermissions)" Color="Color.Secondary" /></MudTd>
                    </RowTemplate>
                    <RowEditingTemplate>
                        <MudTd DataLabel="@_localizer["Tipo"]">@context.Type</MudTd>
                        <MudTd DataLabel="@_localizer["Nome da permissão"]">@context.Value</MudTd>
                        <MudTd DataLabel="@_localizer["Descrição"]">
                            @if (_canEditRolePermissions)
                                    {
                                <MudTextField @bind-Value="@context.Description" Margin="Margin.Dense" Disabled="@(!context.Selected)" HelperText="@_localizer[$"{(context.Selected ? "Aqui você pode deixar um comentário para esta permissão para a função atual" : "Será salvo somente quando selecionado Permissão")}"]" />
                                    }
                                    else
                                    {
                                @context.Description
                                    }
                        </MudTd>
                        <MudTd DataLabel="@_localizer["Status"]"><MudCheckBox @bind-Checked="@context.Selected" Disabled="@(!_canEditRolePermissions)" Color="Color.Secondary" /></MudTd>
                    </RowEditingTemplate>
                    <PagerContent>
                        <TablePager />
                    </PagerContent>
                </MudTable>
            </MudTabPanel>
        }
    </MudTabs>
}