@page "/grocery/products-list"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Products2> _localizer

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 py-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
        <MudPaper Elevation="25" Class="mud-theme-primary d-flex">
        </MudPaper>
    </MudPaper>
    <MudPaper Elevation="25" Outlined="false" Class="mt-n10 d-flex pa-3 rounded-xl">
        <MudImage Src="/images/delivery_icon.png" Class="align-self-center" Style="height: 40px; width: 40px;" />
        <div class="d-flex flex-column justify-space-around mx-3">
            <MudText Typo="Typo.caption" Class="">Deliver to ></MudText>
            <MudText Typo="Typo.body1">123, Poseidon, CA 78000, LA...</MudText>
        </div>
    </MudPaper>

    <!-- Menu 1 items -->
    <MudText Color="Color.Default" Class="mt-5" Typo="Typo.subtitle1" Style="font-weight: 600;">List View Style 1</MudText>
    <MudText Typo="Typo.caption" >Show off the products you love most in a beautiful grid layout with elegant background colors to match.</MudText>
    <MudGrid Class="mb-5 mt-3" Spacing="2">
        @foreach (var item in _productItemList)
        {
            <MudItem xs="12" sm="6" md="6">
                <MudCard Elevation="25" Outlined="false" Class="d-flex flex-row rounded-xl" Style="height:120px;" @onclick="@(() => NavigateToProductDetail())">
                    <MudImage Elevation="0" Src="@item.Image" Class="rounded-lg align-self-center" Style="height:120px; min-width: 120px; max-width:120px;" />
                    <MudCardContent Class="d-flex justify-space-around flex-column py-2" Style="height:120px; width: 100%">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default" Class="text-secondary">@item.ItemName</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body1">@item.Descriptions</MudText>
                        </MudHidden>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
                            <MudText Typo="Typo.body2">@item.Descriptions</MudText>
                        </MudHidden>
                        <div class="d-flex flex-row justify-space-between">
                            <MudChip Variant="Variant.Filled" Size="Size.Small" Label="true" Color="Color.Secondary" Class="px-2 rounded-sm">@item.Discount</MudChip>
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default">@item.Price</MudText>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

    <!-- Menu 2 items -->
    <MudText Color="Color.Default" Class="mt-5" Typo="Typo.subtitle1" Style="font-weight: 600;">List View Style 2</MudText>
    <MudText Typo="Typo.caption">Show off the products you love most in a beautiful grid layout with elegant background colors to match.</MudText>
    <MudGrid Class="mb-5 mt-3" Spacing="2">
        @foreach (var item in _productItemList)
        {
            <MudItem xs="12" sm="6" md="6">
                <MudCard Elevation="25" Outlined="false" Class="d-flex flex-row rounded-xl" Style="height:120px;" @onclick="@(() => NavigateToProductDetail())">
                    <MudCardContent Class="d-flex justify-space-around flex-column py-2" Style="height:120px; width: 100%">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default" Class="text-secondary">@item.ItemName</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body1">@item.Descriptions</MudText>
                        </MudHidden>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
                            <MudText Typo="Typo.body2">@item.Descriptions</MudText>
                        </MudHidden>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">@item.Price</MudText>
                    </MudCardContent>
                    <div class="d-flex justify-space-around flex-column py-2">
                        <MudChip Variant="Variant.Outlined" Size="Size.Small" Label="true" Color="Color.Tertiary" Class="px-2 rounded-sm align-self-center">@item.Discount</MudChip>
                        <MudImage Elevation="0" Src="@item.Image" Class="rounded-lg align-self-center mx-2" Style="height:70px; min-width: 70px; max-width:70px;" />
                    </div>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}
