@page "/landing"
@inherits LayoutComponentBase
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Landing> _localizer

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style type="text/css">

    .wk-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .slider-main {
        box-shadow: 0px 0px 0px 0px rgba(45, 45, 45, 0.28);
        height:100%;
        width: 100%;
    }

    .slider-container {
        background: rgba(0,0,0,0.36);
        height: 100%;
        padding: 0px 0px;
        position: relative;
    }

    .slider-1 {
        background-image: url(/images/pictures/2w.jpg);
        background-size: cover !important;
        background-position: center center !important;
    }

    .slider-2 {
        background-image: url(/images/pictures/3w.jpg);
        background-size: cover !important;
        background-position: center center !important;
    }

    .slider-3 {
        background-image: url(/images/pictures/4w.jpg);
        background-size: cover !important;
        background-position: center center !important;
    }

    .slider-4 {
        background-image: url(/images/pictures/5w.jpg);
        background-size: cover !important;
        background-position: center center !important;
    }

    .slider-5 {
        background-image: url(/images/pictures/6w.jpg);
        background-size: cover !important;
        background-position: center center !important;
    }

    .theme-background-color-blue {
        background: linear-gradient(0deg,#0083FF 0.11%,#0049FF 127.33%);
        color: #fff;
    }

    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }

    .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
    }

    .backInDown {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: backInDown;
        animation-fill-mode: forwards;
    }

    .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
    }

    .rotateIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: rotateIn;
        animation-fill-mode: forwards;
    }

    .rotateOut {
        animation-duration: 0.5s;
        animation-name: rotateOut;
        animation-fill-mode: forwards;
    }
</style>

<MudLayout>
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <MudAppBar Elevation="25" Style="background-color: white;" Class="py-3">
            <MudSpacer />
            <div class="d-flex">
                <MudImage Src="/images/logo-header.png" Style="height:60px;" Elevation="0"> </MudImage>
                <MudText Typo="Typo.h5" Color="Color.Primary" Class="align-self-center ml-3" Style="font-weight: 700;" Align="Align.Left">Minhas Notícias 2</MudText>
            </div>
            <MudSpacer />
            <MudLink @onclick="@(() => NavigateToSliderSection())" Typo="Typo.body1" Class="mr-6" Style="font-weight: 500">Home</MudLink>
            <MudLink @onclick="@(() => NavigateToTrendingSection())" Typo="Typo.body1" Class="mr-6" Style="font-weight: 500">Trendings</MudLink>
            <MudLink @onclick="@(() => NavigateToHotProductsSection())" Typo="Typo.body1" Class="mr-6" Style="font-weight: 500">Hot Products</MudLink>
            <MudLink @onclick="@(() => NavigateToBlogSection())" Typo="Typo.body1" Class="mr-6" Style="font-weight: 500">Our Blog</MudLink>
            <MudLink @onclick="@(() => NavigateToContactSection())" Typo="Typo.body1" Style="font-weight: 500">Contact</MudLink>
            <MudSpacer />
            <MudButton Class="mr-2" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large" OnClick="@(() => NavigateToLogin())">Login</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Large" OnClick="@(() => NavigateToRegister())">Register</MudButton>
            <MudSpacer />
        </MudAppBar>
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false" Class="px-5">
        <MudAppBar Elevation="25" Style="@($"color:{Colors.Shades.White}; background:{Theme.Palette.White};")">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="@ToggleDrawer" />
            <MudSpacer />
            <MudButton Class="mr-2" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium" OnClick="@(() => NavigateToLogin())">Login</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Medium" OnClick="@(() => NavigateToRegister())">Register</MudButton>
        </MudAppBar>
        <MudDrawer @bind-Open="@open" Elevation="25">
            <MudDrawerHeader>
                <div class="d-flex flex-column">
                    <MudAvatar Image="/images/logo.png" Class="pa-2" Size="Size.Large"></MudAvatar>
                    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mt-3" Style="font-weight: 600;" Align="Align.Left">Minhas Notícias</MudText>
                </div>
            </MudDrawerHeader>
            <MudDivider></MudDivider>
            <MudNavMenu>
                <MudNavLink Match="NavLinkMatch.All" @onclick="@(() => NavigateToSliderSection())" Typo="Typo.body1" Style="font-weight: 600">Home</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" @onclick="@(() => NavigateToTrendingSection())" Typo="Typo.body1" Style="font-weight: 600">Trendings</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" @onclick="@(() => NavigateToHotProductsSection())" Typo="Typo.body1" Style="font-weight: 600">Hot Products</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" @onclick="@(() => NavigateToBlogSection())" Typo="Typo.body1" Style="font-weight: 600">Our Blog</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" @onclick="@(() => NavigateToContactSection())" Typo="Typo.body1" Style="font-weight: 600">Contact</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    </MudHidden>

    <MudMainContent>

        <MudGrid Spacing="0">
            <MudItem xs="12" sm="12" md="12">
                <div id="sliderSection">
                    <MudCarousel Class="mt-0" Style="height:450px; min-height:50vh;" TData="object" AutoCycle="true" ShowDelimiters="true" ShowArrows="true">
                        <DelimiterTemplate Context="selected">
                            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                                <span class="mud-icon-button-label">
                                    <MudIcon Icon="@(selected ? "fas fa-circle" : "fal fa-circle")" Style="color: #ffffff; font-size: 0.725rem !important;" />
                                </span>
                            </div>
                        </DelimiterTemplate>
                        <ChildContent>
                            <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="rotateIn" CustomTransitionExit="rotateOut">
                                <MudPaper Elevation="0" Outlined="false" Square="true" Class="mud-theme-primary slider-1" Style="height:100%; width:100%; padding: 0px;">
                                    <div class="slider-main">
                                        <div class="slider-container d-flex align-start justify-center">
                                            <div class="py-5 px-3">
                                                <div class="mt-15">
                                                    <MudText Align="Align.Center" Typo="Typo.h4" Style="font-weight: 700;">Choose your Style</MudText>
                                                    <MudText Class="mt-5" Align="Align.Center" Typo="Typo.h6" Style="font-weight: 500;">We've included multiple components and styles you can choose to match your project needs.</MudText>
                                                    <div class="d-flex justify-center mt-5">
                                                        <MudButton Class="rounded-lg" Link="#" Size="Size.Large" Target="_blank" Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White}; background:{Theme.Palette.WarningDarken};")">Explore Now!</MudButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </MudPaper>
                            </MudCarouselItem>
                            <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
                                <MudPaper Elevation="0" Outlined="false" Square="true" Class="mud-theme-primary slider-2" Style="height:100%; width:100%; padding: 0px;">
                                    <div class="slider-main">
                                        <div class="slider-container d-flex align-end justify-center">
                                            <div class="py-5 px-3">
                                                <div class="mb-10">
                                                    <MudText Align="Align.Center" Typo="Typo.h4" Style="font-weight: 700;">Build your Features</MudText>
                                                    <MudText Class="mt-5" Align="Align.Center" Typo="Typo.h6" Style="font-weight: 500;">With many prebuilt functions and template, you can speech up your project developement.</MudText>
                                                    <div class="d-flex justify-center mt-5">
                                                        <MudButton Class="rounded-lg" Link="/register" Size="Size.Large" Target="_blank" Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White}; background:{Theme.Palette.SuccessDarken};")">Explore Now!</MudButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </MudPaper>
                            </MudCarouselItem>
                            <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
                                <MudPaper Elevation="0" Outlined="false" Square="true" Class="mud-theme-primary slider-3" Style="height:100%; width:100%; padding: 0px;">
                                    <div class="slider-main">
                                        <div class="slider-container d-flex align-center justify-center">
                                            <div class="py-5 px-3">
                                                <div class="align-self-center">
                                                    <MudText Align="Align.Center" Typo="Typo.h4" Style="font-weight: 700;">Publish your App</MudText>
                                                    <MudText Class="mt-5" Align="Align.Center" Typo="Typo.h6" Style="font-weight: 500;">Something really cool is launching now! Let publish and promote it to your customer.</MudText>
                                                    <div class="d-flex justify-center mt-5">
                                                        <MudButton Class="rounded-lg" Link="/register" Size="Size.Large" Target="_blank" Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White}; background:{Theme.Palette.SecondaryDarken};")">Explore Now!</MudButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </MudPaper>
                            </MudCarouselItem>
                            <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="rotateIn" CustomTransitionExit="backOutDown">
                                <MudPaper Elevation="0" Outlined="false" Square="true" Class="mud-theme-primary slider-4" Style="height:100%; width:100%; padding: 0px;">
                                    <div class="slider-main">
                                        <div class="slider-container d-flex align-end justify-center">
                                            <div class="py-5 px-3">
                                                <div class="mb-10">
                                                    <MudText Align="Align.Center" Typo="Typo.h4" Style="font-weight: 700;">Build your Features</MudText>
                                                    <MudText Class="mt-5" Align="Align.Center" Typo="Typo.h6" Style="font-weight: 500;">With many prebuilt functions and template, you can speech up your project developement.</MudText>
                                                    <div class="d-flex justify-center mt-5">
                                                        <MudButton Class="rounded-lg" Link="/register" Size="Size.Large" Target="_blank" Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White}; background:{Theme.Palette.SuccessDarken};")">Explore Now!</MudButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </MudPaper>
                            </MudCarouselItem>
                            <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="bounceOut">
                                <MudPaper Elevation="0" Outlined="false" Square="true" Class="mud-theme-primary slider-5" Style="height:100%; width:100%; padding: 0px;">
                                    <div class="slider-main">
                                        <div class="slider-container d-flex align-center justify-center">
                                            <div class="py-5 px-3">
                                                <div class="align-self-center">
                                                    <MudText Align="Align.Center" Typo="Typo.h4" Style="font-weight: 700;">Publish your App</MudText>
                                                    <MudText Class="mt-5" Align="Align.Center" Typo="Typo.h6" Style="font-weight: 500;">Something really cool is launching now! Let publish and promote it to your customer.</MudText>
                                                    <div class="d-flex justify-center mt-5">
                                                        <MudButton Class="rounded-lg" Link="/register" Size="Size.Large" Target="_blank" Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White}; background:{Theme.Palette.SecondaryDarken};")">Explore Now!</MudButton>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </MudPaper>
                            </MudCarouselItem>
                        </ChildContent>
                    </MudCarousel>
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <div id="banner1Section">
                    <MudGrid Class="py-8 px-5 mb-5" Style="min-width: 100vw;">
                            <MudItem xs="12" sm="6" md="4">
                                <MudPaper Class="pa-0 rounded-lg" Style="height: 200px; width: 100%; position: relative;">
                                    <MudImage Style="height: 200px; width: 100%;" Src="/images/grocery/4.jpg" Alt="banner-1" Class="rounded-lg"/>
                                    <MudOverlay Visible="true" DarkBackground="true" Absolute="true" Style="height: 200px; min-width: 100%;">
                                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="Color.Warning">Foods Collection</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 700; color: white">Organic <br> Foods</MudText>
                                        <MudButton Class="mt-5 rounded-lg" Variant="Variant.Filled" Color="Color.Tertiary">DISCOVER NOW</MudButton>
                                    </MudOverlay>
                                </MudPaper>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudPaper Class="pa-0 rounded-lg" Style="height: 200px; width: 100%; position: relative;">
                                    <MudImage Style="height: 200px; width: 100%;" Src="/images/grocery/6.jpg" Alt="banner-2" Class="rounded-lg"/>
                                    <MudOverlay Visible="true" DarkBackground="true" Absolute="true" Style="height: 200px; min-width: 100%;">
                                        <MudText Typo="Typo.subtitle1" Align="Align.Left" Style="font-weight: 600;" Color="Color.Warning">Drinks Collection</MudText>
                                        <MudText Typo="Typo.h6" Align="Align.Left" Style="font-weight: 700; color: white">Healthy <br> Collection</MudText>
                                        <MudButton Class="mt-5 rounded-lg" Variant="Variant.Filled" Color="Color.Success">DISCOVER NOW</MudButton>
                                    </MudOverlay>
                                </MudPaper>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudPaper Class="pa-0 rounded-lg" Style="height: 200px; width: 100%; position: relative;">
                                    <MudImage Style="height: 200px; width: 100%;" Src="/images/grocery/8.jpg" Alt="banner-3" Class="rounded-lg"/>
                                    <MudOverlay Visible="true" DarkBackground="true" Absolute="true" Style="height: 200px; min-width: 100%;">
                                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="Color.Warning">Flash Sale</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 700; color: white">Mid Season <br> Up To 30% Off</MudText>
                                        <MudButton Class="mt-5 rounded-lg" Variant="Variant.Filled" Color="Color.Error">DISCOVER NOW</MudButton>
                                    </MudOverlay>
                                </MudPaper>
                            </MudItem>
                   </MudGrid>
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <div id="trendingSection">
                    <MudContainer Class="py-10">
                        <MudGrid Class="mb-5">
                            <MudItem xs="12" sm="12" md="12">
                                <MudText Class="mb-10" Typo="Typo.h4" Align="Align.Center" >Trending Products</MudText>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/products/1.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 1</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$23.99</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/products/2.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 2</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$5.00</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/products/3.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 3</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$6.99</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/products/4.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 4</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$10.90</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/products/5.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 5</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$9.99</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/products/6.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 6</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$11.50</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/products/7.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 7</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$9.99</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/products/8.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 8</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$3.50</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>

                        </MudGrid>
                    </MudContainer>
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <div id="banner2Section">
                    <MudContainer Class="py-10">
                        <MudGrid Class="mb-5">
                            <MudItem xs="12" sm="6">
                                <MudPaper Elevation="25" Outlined="false" Class="pa-0 rounded-lg" Style="height: 250px; position: relative;">
                                    <MudImage Elevation="0" Style="height: 100%; width: 100%;" ObjectFit="ObjectFit.Cover" Src="/images/landing/md-banner-1.jpg" Alt="banner-4" Class="rounded-lg"/>
                                    <MudOverlay Visible="true" DarkBackground="true" Absolute="true">
                                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="Color.Warning">DRINKS COLLECTION</MudText>
                                        <MudText Typo="Typo.h6" Style="font-weight: 700; color: white">DRINK ITEMS <br /> UP TO 30%</MudText>
                                        <MudButton Class="mt-5 rounded-lg" Variant="Variant.Filled" Color="Color.Secondary">Explore Now</MudButton>
                                    </MudOverlay>
                                </MudPaper>
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudPaper Elevation="25" Outlined="false" Class="pa-0 rounded-lg" Style="height: 250px; position: relative;">
                                    <MudImage Elevation="0" Style="height: 100%; width: 100%;" ObjectFit="ObjectFit.Cover" Src="/images/landing/md-banner-2.jpg" Alt="banner-5" Class="rounded-lg"/>
                                    <MudOverlay Visible="true" DarkBackground="true" Absolute="true">
                                        <div class="d-flex flex-column justify-start">
                                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="Color.Warning">SNACKS COLLECTION</MudText>
                                            <MudText Typo="Typo.h6" Style="font-weight: 700; color: white">SNACK ITEMS <br /> UP TO 20%</MudText>
                                            <MudButton Class="mt-5 rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Explore Now</MudButton>
                                        </div>
                                    </MudOverlay>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </MudContainer>
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <div id="hotProductSection">
                    <MudContainer Class="py-10">
                        <MudGrid Class="mb-5">
                            <MudItem xs="12" sm="12" md="12">
                                <MudText Class="mb-10" Typo="Typo.h4" Align="Align.Center" GutterBottom="true">Products You May Like</MudText>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/landing/prod-4.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 9</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$10.90</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/landing/prod-7.png" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 10</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$9.99</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/landing/prod-5.jpg" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 11</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$9.99</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="3" xl="3">
                                <MudCard Elevation="25" Outlined="false" Class="rounded-lg">
                                    <MudCardMedia Image="/images/landing/prod-9.png" Height="250" />
                                    <MudCardContent>
                                        <MudGrid Spacing="2">
                                            <MudItem xs="12">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Product 12</MudText>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Error">$9.99</MudText>
                                            </MudItem>

                                            <MudItem xs="12">
                                                <MudDivider></MudDivider>
                                            </MudItem>

                                            <MudItem xs="12" Class="d-flex align-content-center">
                                                <MudPaper Elevation="0" Class="ml-0 mr-auto">
                                                    <MudContainer Fixed="true" Class="px-0">
                                                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary">Add To Cart</MudButton>
                                                    </MudContainer>
                                                </MudPaper>
                                                <MudPaper Elevation="0" Class="mx-1">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ma-1" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Share" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="ma-1" />
                                                </MudPaper>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                        </MudGrid>
                    </MudContainer>
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <div id="bannerFullSection">
                    <MudCard Elevation="0" Square="true" Class="theme-background-color-blue" Style="height:100%; width:100%;">
                       <MudCardContent Class="d-flex justify-center align-center" Style="height:100%; width:100%;">
                           <div class="align-self-center">
                               <MudText Class="mt-10" Align="Align.Center" Typo="Typo.subtitle1" Style="font-weight: 600;">We Bring To You Our Best Products</MudText>
                               <MudText Class="mt-3" Align="Align.Center" Typo="Typo.h5" Style="font-weight: 700;">We Always Have The Newest Product On The Market</MudText>
                               <MudText Class="mt-5" Align="Align.Center" Typo="Typo.subtitle1" Style="font-weight: 600;">If you have any question or problem feel free to contact us.</MudText>
                               <div class="d-flex justify-center mt-5 mb-10">
                                 <MudButton Class="rounded-lg" Link="/register" Size="Size.Large" Target="_blank" Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White}; background:{Theme.Palette.SuccessDarken};")">Explore Now</MudButton>
                               </div>                                                      
                           </div>             
                       </MudCardContent>             
                   </MudCard>
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <div id="blogSection">
                    <MudContainer Class="py-10">
                        <MudGrid Class="mb-5">
                            <MudItem xs="12" sm="12" md="12">
                                <MudText Class="my-10" Typo="Typo.h4" Align="Align.Center" GutterBottom="true">From Our Blog</MudText>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4" xl="3">
                                <MudCard Class="rounded-lg" Elevation="25" Outlined="false" Style="height: 100%;">
                                    <MudCardMedia Image="/images/landing/blog-1.jpg" Height="200" />
                                    <MudCardContent Class="pa-3" Style="height: 150px;">
                                        <MudText Align="Align.Left" Typo="Typo.subtitle1" Color="Color.Primary" Style="font-weight: 500;">Why Choose Us</MudText>
                                        <MudText Align="Align.Left" Typo="Typo.body1">Continue Reading</MudText>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4" xl="3">
                                <MudCard Class="rounded-lg" Elevation="25" Outlined="false" Style="height: 100%;">
                                    <MudCardMedia Image="/images/landing/blog-2.jpg" Height="200" />
                                    <MudCardContent Class="pa-3" Style="height: 150px;">
                                        <MudText Align="Align.Left" Typo="Typo.subtitle1" Color="Color.Primary" Style="font-weight: 500;">What Are Some Qualities or Characteristics That Make a Good Restaurant?</MudText>
                                        <MudText Align="Align.Left" Typo="Typo.body1">Continue Reading</MudText>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4" xl="3">
                                <MudCard Class="rounded-lg" Elevation="25" Outlined="false" Style="height: 100%;">
                                    <MudCardMedia Image="/images/landing/blog-3.jpg" Height="200" />
                                    <MudCardContent Class="pa-3" Style="height: 150px;">
                                        <MudText Align="Align.Left" Typo="Typo.subtitle1" Color="Color.Primary" Style="font-weight: 500;">Restaurant Drink Recipe</MudText>
                                        <MudText Align="Align.Left" Typo="Typo.body1">Continue Reading</MudText>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                        </MudGrid>
                    </MudContainer>
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <div id="contactSection">
                    <MudPaper Elevation="0" Outlined="false" Square="true" Class="px-5 py-5 mud-theme-primary">
                        <MudContainer Class="py-1">
                            <MudGrid>
                                <MudItem xs="12" sm="12" md="3">
                                    <MudPaper Elevation="0" Class="mud-theme-primary">
                                        <div class="d-flex">
                                            <MudImage Class="align-self-center mr-3" Src="images/logo.png" Alt="logo" Elevation="0" Style="height:60px; width:60px;"/>
                                            <MudText Class="align-self-center" Typo="Typo.h5" Style="font-weight: 700;" >Minhas Notícias</MudText>
                                        </div>
                                        <MudText Class="mt-3" Typo="Typo.body2" Align="Align.Left">A clean architecture template make your next project. PWA ready for the latest web trends and powered by .NET Blazor, with a familiar and easy to use code.</MudText>
                                    </MudPaper>
                                </MudItem>

                                <MudItem xs="12" sm="12" md="3">
                                    <MudText Typo="Typo.subtitle1" Style="font-weight: 700;" Align="Align.Left">Customer Services</MudText>
                                    <div class="d-flex flex-column" style="background-color: transparent">
                                            <MudText Typo="Typo.body2" Class="mt-3">
                                                <MudLink Style="@($"color:{Theme.Palette.White};")" Typo="Typo.body2" Color="Color.Default">
                                                    Order Tracking
                                                </MudLink>
                                            </MudText>
                                            <MudText Typo="Typo.body2" Class="mt-3">
                                                <MudLink Color="Color.Default" Typo="Typo.body2"
                                                         Style="@($"color:{Theme.Palette.White};")">
                                                    Good Returns
                                                </MudLink>
                                            </MudText>
                                            <MudText Typo="Typo.body2" Class="mt-3">
                                                <MudLink Style="@($"color:{Theme.Palette.White};")" Typo="Typo.body2" Color="Color.Default">
                                                    Privacy Policies
                                                </MudLink>
                                            </MudText>
                                            <MudText Typo="Typo.body2" Class="mt-3">
                                                <MudLink Color="Color.Default" Typo="Typo.body2"
                                                         Style="@($"color:{Theme.Palette.White};")">
                                                    Terms and Conditions
                                                </MudLink>
                                            </MudText>
                                        </div>
                                </MudItem>

                                <MudItem xs="12" sm="12" md="3">
                                    <MudText Typo="Typo.subtitle1" Style="font-weight: 700;" Align="Align.Left">Get In Touch</MudText>
                                    <MudText Class="mt-3" Typo="Typo.body2" Style="font-weight: 500;" Align="Align.Left">Addr: Washington DC, Maryland</MudText>
                                    <MudText Class="mt-3" Typo="Typo.body2" Style="font-weight: 500;" Align="Align.Left">E-mail: info@blazorstore.com</MudText>
                                    <MudText Class="mt-3" Typo="Typo.body2" Style="font-weight: 500;" Align="Align.Left">Phone: +1 (23) 456-7890</MudText>
                                    <div class="d-flex justify-start mud-theme-primary my-5">
                                       <MudIconButton Class="mr-5" Icon="fas fa-envelope" Size="Size.Small" Color="Color.Inherit" Edge="Edge.End"></MudIconButton>
                                       <MudIconButton Class="mr-5" Icon="fab fa-telegram" Size="Size.Small" Color="Color.Inherit" Edge="Edge.End"></MudIconButton>
                                       <MudIconButton Icon="fab fa-twitter" Color="Color.Inherit" Size="Size.Small" Edge="Edge.End"></MudIconButton>
                                    </div>
                                </MudItem>

                                <MudItem xs="12" sm="12" md="3">
                                    <MudText Typo="Typo.subtitle1" Style="font-weight: 700;" Align="Align.Left">Mobile</MudText>
                                    <div class="d-flex flex-column mt-3">                        
                                        <MudImage Class="polaroid-effect" Src="@AppUrl" Style="width: 100px; height: 100px;" />
                                        <MudText Class="mt-3" Typo="Typo.body2" Align="Align.Left">Scan Me</MudText>
                                    </div>
                                </MudItem>

                                <MudItem xs="12">
                                    <MudDivider></MudDivider>
                                </MudItem>

                                <MudItem xs="12">
                                    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                                        <div class="d-flex justify-space-between">
                                            <MudText Typo="Typo.body2" Style="font-weight: 600;" Align="Align.Left">Copyright &copy; 2022 Minhas Notícias. All rights reserved.</MudText>
                                            <MudImage ObjectFit="ObjectFit.Fill" Height="20" Src="/images/landing/payments.png" Alt="Payments"  Elevation="0"/>
                                        </div>
                                    </MudHidden>
                                    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
                                        <div class="d-flex flex-column justify-center">
                                            <MudText Class="align-self-center" Typo="Typo.body2" Style="font-weight: 600;" Align="Align.Center">Copyright &copy; 2022 Minhas Notícias. All rights reserved.</MudText>
                                            <MudImage Class="align-self-center" ObjectFit="ObjectFit.Fill" Height="20" Src="/images/landing/payment-method.png" Alt="Payments"  Elevation="0"/>
                                        </div>
                                    </MudHidden>
                                </MudItem>
                            </MudGrid>
                        </MudContainer>
                    </MudPaper>
                </div>
            </MudItem>

            <MudScrollToTop>
                <MudFab Color="Color.Secondary" Class="mb-5" Icon="@Icons.Filled.ArrowCircleUp" />
            </MudScrollToTop>
        </MudGrid>
    </MudMainContent>
</MudLayout>


