@page "/pages"
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexPages> _localizer

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 35px 35px;" Outlined="false">
        <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">

        </MudPaper>
    </MudPaper>

    <MudGrid Class="mt-n15 pt-0 mb-3">
        <MudItem xs="12">
            <MudCard Elevation="25" Class="rounded-xl py-2">
                <MudCardContent>
                    <MudText Color="Color.Default" Align="Align.Left" Typo="Typo.body2">Awesome pre-built pages that are highly customizable and blazing fast to load.<br>Templates that are categorized by purpose to make it easier for you to use.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudGrid Class="mb-5" Spacing="2">
        <MudItem xs="6" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-xl" Style="height:180px;" @onclick="@(() => NavigateToGeneralIndexPage())">
                <MudCardContent Class="d-flex flex-column px-3 py-2" Style="height:180px;">
                    <MudIcon Icon="@Icons.Material.TwoTone.Assistant" Color="Color.Secondary" Class="pa-3 align-self-center fa-5x"></MudIcon>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Surface"> General </MudText>
                    <MudText Typo="Typo.caption" Class="align-self-center" Color="@Color.Primary"> Common Used Pages </MudText>
                    <MudChip Class="align-self-center" Label="true" Size="Size.Small" Color="Color.Default"> v1.1.10 </MudChip>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Class="mt-auto align-self-center mud-text-secondary" Color="@Color.Default"> Tap to view </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-xl" Style="height:180px;">
                <MudCardContent Class="d-flex flex-column px-3 py-2" Style="height:180px;" @onclick="@(() => NavigateToOnboardingIndexPage())">
                    <MudIcon Icon="@Icons.Material.TwoTone.RocketLaunch" Color="Color.Success" Class="pa-3 align-self-center fa-5x"></MudIcon>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Surface"> Onboarding </MudText>
                    <MudText Typo="Typo.caption" Class="align-self-center" Color="@Color.Primary"> Walkthrough Pages </MudText>
                    <MudChip Class="align-self-center" Label="true" Size="Size.Small" Color="Color.Default"> v2.0.0 </MudChip>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Class="mt-auto align-self-center mud-text-secondary" Color="@Color.Default">Tap to view </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudCard Elevation="25" Class=" rounded-xl" Style="height:180px;">
                <MudCardContent Class="d-flex flex-column align-self-center flex-wrap px-3 py-2" Style="height:180px;" @onclick="@(() => NavigateToAppStylesPage())">
                    <MudIcon Icon="@Icons.Material.TwoTone.MobileFriendly" Color="Color.Warning" Class="pa-3 align-self-center fa-5x"></MudIcon>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Surface"> App Styles </MudText>
                    <MudText Typo="Typo.caption" Class="align-self-center" Color="@Color.Primary"> Mobile-first Designs </MudText>
                    <MudChip Class="align-self-center" Label="true" Size="Size.Small" Color="Color.Info" Variant="Variant.Outlined"> Updated </MudChip>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Class="mt-auto align-self-center mud-text-secondary" Color="@Color.Default"> Tap to view </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-xl" Style="height:180px;">
                <MudCardContent Class="d-flex flex-column align-self-center flex-wrap px-3 py-2" Style="height:180px;" @onclick="@(() => NavigateToActionsPage())">
                    <MudIcon Icon="@Icons.Material.TwoTone.OfflineBolt" Color="Color.Error" Class="pa-3 align-self-center fa-5x" Size="Size.Large"></MudIcon>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Surface"> Actions </MudText>
                    <MudText Typo="Typo.caption" Class="align-self-center" Color="@Color.Primary"> Menu & Actions </MudText>
                    <MudChip Class="align-self-center" Label="true" Size="Size.Small" Color="Color.Error"> New </MudChip>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Class="mt-auto align-self-center mud-text-secondary" Color="@Color.Default"> Tap to view </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="py-5 d-flex flex-row rounded-xl" @onclick="@(() => NavigateToTravelIndexPage())">
                <MudIconButton Icon="fad fa-plane-departure align-self-center" Color="Color.Primary" Class="align-self-center" Size="Size.Large" OnClick="NavigateToTravelIndexPage"></MudIconButton>
                <MudPaper Elevation="0" Class="mx-3 pa-0 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Travels & Tours Booking</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">6 template pages </MudText>
                </MudPaper>
                <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
                    <MudChip Class="px-2 align-self-center" Label="true" Size="Size.Small" Color="Color.Error">v2.0.1</MudChip>
                </MudPaper>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="py-5 d-flex flex-row rounded-xl" @onclick="@(() => NavigateToGroceryIndexPage())">
                <MudIconButton Icon="fad fa-shopping-basket align-self-center" Color="Color.Info" Class="align-self-center" Size="Size.Large" OnClick="NavigateToGroceryIndexPage"></MudIconButton>
                <MudPaper Elevation="0" Class="mx-3 pa-0 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Fruits Grocery</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">8 template pages </MudText>
                </MudPaper>
                <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
                    <MudChip Class="px-2 align-self-center" Label="true" Size="Size.Small" Color="Color.Default">v1.1.11</MudChip>
                </MudPaper>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="px-3 py-6 d-flex justify-space-between rounded-xl" @onclick="@(() => NavigateToEducationIndexPage())">
                <MudPaper Elevation="0" Class="d-flex align-self-center">
                    <MudIcon Icon="fad fa-graduation-cap align-self-center" Color="Color.Error" Size="Size.Large" ></MudIcon>
                    <div class="mx-5">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">E-Learning</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">9 template pages </MudText>
                    </div>
                </MudPaper>
                <MudPaper Elevation="0" Class="align-self-center">
                    <MudChip Class="px-2 align-self-center" Label="true" Size="Size.Small" Color="Color.Default">v1.1.8</MudChip>
                </MudPaper>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="px-3 py-6 d-flex justify-space-between rounded-xl" @onclick="@(() => NavigateToBlogIndexPage())">
                <MudPaper Elevation="0" Class="d-flex align-self-center">
                    <MudIcon Icon="fad fa-newspaper align-self-center" Color="Color.Success" Size="Size.Large"></MudIcon>
                    <div class="mx-5">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Blog/ News</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">8 template pages </MudText>
                    </div>
                </MudPaper>
                <MudPaper Elevation="0" Class="align-self-center">
                    <MudChip Class="px-2 align-self-center" Label="true" Size="Size.Small" Color="Color.Default">v1.1.7</MudChip>
                </MudPaper>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="px-3 py-6 d-flex justify-space-between rounded-xl" @onclick="@(() => NavigateToProjectIndexPage())">
                <MudPaper Elevation="0" Class="d-flex align-self-center">
                    <MudIcon Icon="fad fa-tasks align-self-center" Color="Color.Warning" Size="Size.Large" ></MudIcon>
                    <div class="mx-5">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Project/ Tasks</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">8 template pages </MudText>
                    </div>
                </MudPaper>
                <MudPaper Elevation="0" Class="align-self-center">
                    <MudChip Class="px-2 align-self-center" Label="true" Size="Size.Small" Color="Color.Default">v1.0.4</MudChip>
                </MudPaper>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="px-3 py-6 d-flex justify-space-between rounded-xl" @onclick="@(() => NavigateToHealthIndexPage())">
                <MudPaper Elevation="0" Class="d-flex align-self-center">
                    <MudIcon Icon="fad fa-heartbeat align-self-center" Color="Color.Secondary" Size="Size.Large"></MudIcon>
                    <div class="mx-5">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Socials Health</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">6 template pages </MudText>
                    </div>
                </MudPaper>
                <MudPaper Elevation="0" Class="align-self-center">
                    <MudChip Class="px-2 align-self-center" Label="true" Size="Size.Small" Color="Color.Default">v1.0.3</MudChip>
                </MudPaper>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="px-3 py-6 d-flex justify-space-between rounded-xl" @onclick="@(() => NavigateToCommerceIndexPage())">
                <MudPaper Elevation="0" Class="d-flex align-self-center">
                    <MudIcon Icon="fad fa-shopping-cart align-self-center" Color="Color.Error" Size="Size.Large" ></MudIcon>
                    <div class="mx-5">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">E-Commerce</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">10 template pages </MudText>
                    </div>
                </MudPaper>
                <MudPaper Elevation="0" Class="align-self-center">
                    @*<MudChip Class="px-2 align-self-center" Size="Size.Small" Color="Color.Error">New</MudChip>*@
                </MudPaper>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="px-3 py-6 d-flex justify-space-between rounded-xl" @onclick="@(() => NavigateToWalletIndexPage())">
                <MudPaper Elevation="0" Class="d-flex align-self-center">
                    <MudIcon Icon="fad fa-wallet align-self-center" Color="Color.Primary" Size="Size.Large" ></MudIcon>
                    <div class="mx-5">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">E-Wallet</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">10 template pages </MudText>
                    </div>
                </MudPaper>
                <MudPaper Elevation="0" Class="align-self-center">
                    @*<MudChip Class="px-2 align-self-center" Size="Size.Small" Color="Color.Error">New</MudChip>*@
                </MudPaper>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="px-3 py-6 d-flex justify-space-between rounded-xl" @onclick="@(() => NavigateToComponentsIndexPage())">
                <MudPaper Elevation="0" Class="d-flex align-self-center">
                    <MudIcon Icon="fad fa-box-open align-self-center" Color="Color.Info" Size="Size.Large" ></MudIcon>
                    <div class="mx-5">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Components</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-secondary">Awesome MudBlazor Components! </MudText>
                    </div>
                </MudPaper>
                <MudPaper Elevation="0" Class="align-self-center">
                    @*<MudChip Class="px-2 ml-0 align-self-center" Size="Size.Small" Color="Color.Error">New</MudChip>*@
                </MudPaper>
            </MudCard>
        </MudItem>

        @*<MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="px-3 py-6 d-flex justify-space-between rounded-xl" @onclick="@(() => NavigateToCustomComponentsIndexPage())">
                <MudIcon Icon="fad fa-code" Color="Color.Warning" Size="Size.Large"></MudIcon>
                <MudPaper Elevation="0" Class="d-flex align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Custom Components</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-secondary">Build your own components! </MudText>
                </MudPaper>
                <MudPaper Elevation="0" Class="align-self-center">
                    <MudChip Class="px-2 ml-0 align-self-center" Label="true" Size="Size.Small" Color="Color.Secondary">Coming Soon</MudChip>
                </MudPaper>
            </MudCard>
        </MudItem>*@
    </MudGrid>
}